@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <img id="Logo" src="https://images-na.ssl-images-amazon.com/images/I/41yf7iS-BML._AC_.jpg" />
    <a asp-action="MyPage" asp-controller="DunderMifflin"><p>Take me to my page</p></a>
</div>
