@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We value and respect your privacy because</p>

<img id="identity-theft" src="https://media.makeameme.org/created/identity-theft-is-5bc651.jpg" />
